<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recommandation</title>
</head>
<body>
    <h1>Voici vos recommandations d'entraînement :</h1>
    <p>Besoins caloriques estimés : {{ besoins_caloriques }} calories par jour.</p>
    <p>Effet de votre entraînement recommandé : {{ entrainement_recommande }}</p>
    <p>{{ message }}</p>
    <br>
    <h2>Menu recommandé :</h2>
    <p>{{ menu }}</p>
    <br>
    <h2>Séance recommandée :</h2>
    <p>{{ seance }}</p>
    <br>
    <h2>Recommandation de Sommeil :</h2>
    <p>{{ proposition_sommeil }}</p>
    <br>
    <a href="/">Retourner au formulaire</a>
</body>
</html>